.btn {
    text-transform: uppercase;
    font-weight: $fw-bold;
    color: $clr-neutral-900;
    border: 2px solid $clr-neutral-900;
    padding: 0.8em 2rem;
    border-radius: 8px;
    width: 100%;
    justify-self: start;

    transition: transform .1s ease-in-out .1s;
}

.btn:hover {
    scale: 0.98;
}

@media (min-width: $breakpoint-lg) {
    .btn {
        width:  auto;
    }
}