.btn {
    text-transform: uppercase;
    font-weight: $fw-bold;
    color: $clr-neutral-900;
    border: 2px solid $clr-neutral-900;
    padding: 0.8em 2rem;
    border-radius: 8px;
    width: 100%;
    justify-self: start;

    transition: all 200ms ease-in-out;
}

.btn:hover {
    scale: 0.95;
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;
}

@media (min-width: $breakpoint-lg) {
    .btn {
        width:  auto;
    }
}

.btn-with-icon {
    display: flex;
    align-items: center;
    width: auto;
    gap: .6rem;
    padding-left: 1rem;

    * {
        flex: 1;
    }

    svg path {
        fill: $clr-neutral-900;
        transition: fill 200ms ease-in-out;
    }

    &:hover svg path {
        fill: $clr-neutral-100;
    }


}