.btn {
    text-transform: uppercase;
    font-weight: $fw-bold;
    color: $clr-neutral-900;
    border: 2px solid $clr-neutral-900;
    padding: 1em 2rem;
    border-radius: 8px;
    width: 100%;
    justify-self: start;

    transition: all 200ms ease-in-out;
}

.btn:hover {
    scale: 0.95;
    background-color: $clr-neutral-900;
    color: $clr-neutral-100;
}

@media (min-width: 940px) {
    .btn {
        width:  auto;
        padding: 0.8rem 2rem;
    }
}

.btn-with-icon {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-left: 0.8rem;

    svg path {
        fill: $clr-neutral-900;
        transition: fill 200ms ease-in-out;
    }

    &:hover svg path {
        fill: $clr-neutral-100;
    }
}