.competitor-analysis__header {
    display: grid;
    gap: 2rem;


    @media (max-width: $breakpoint-md) {
        & img {
            display: none;
        }
    }

    @media (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        gap: 4.5rem;

        & .images {
            display: flex;
            gap: 1rem;

            img {
                max-width: calc(50% - 1rem);
            }
        }

        .title {
            margin-bottom: 2rem;
        }
    }
}