
    
@each $number, $value in $spaces {

    .row-flow-#{$number} {
        display: flex;
        gap: $value;
    }

    .column-flow-#{$number} {
        display: flex;
        flex-direction: column;
        gap: $value;
    }

    @media (min-width: $breakpoint-md) {

        .row-flow-#{$number}-on-desktop {
            display: flex;
            gap: $value;
        }

        .column-flow-#{$number}-on-desktop {
            display: grid;
            gap: $value;
        }
        
    }

}

.row-flow-space-between {
    display: flex;
    justify-content: space-between;
}