.my-approach {
    display: grid;
    gap: 4rem;

    @media (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;

        .process__number {
            font-size: $fs-title;
        }
    }

    .title {
        margin-bottom: 2rem;
    }

    .process {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .process__item {
        display: grid;
        grid-template-columns: 5rem 1fr;
        gap: 1rem;
    }

    .process__number {
        display: grid;
        place-content: center;
        font-size: $fs-heading;
        font-weight: $fw-bold;
        border-radius: 5px;
        aspect-ratio: 1;
        background-color: $clr-neutral-900;
        color: $clr-neutral-100;
    }

    .label {
        margin-bottom: .5rem;
    }
}