.usability-testing__content {
    display: grid;
    gap: 4rem;

    .card-with-img {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 4rem;
        align-items: center;
    }

    .right {
        grid-template-columns: 1.5fr 1fr;
    }
}