.hero {
    min-height: 74vh;
    align-content: center;
    
    @media (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

}

.hero__img {
    max-width: min(100%, 25rem);
    justify-self: center;

    @media (min-width: $breakpoint-lg) {
        max-width: 100%;
    }
}


.hero__content {
    // @media (min-width: $breakpoint-md) and (max-width: calc($breakpoint-lg - 1px)) {
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: space-between;
        
        
    // }

    @media (min-width: $breakpoint-lg) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    @media (min-width: $breakpoint-md) {
        .heading {
            max-width: 13ch;
        }
        
        .paragraph {
            max-width: 34ch;
        }
        
    }
}
