.case-study {
    display: grid;
    gap: 4rem;
    margin: 30vh 0;
    
    @media (min-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .label {
        margin-bottom: 24px;
    }

    .paragraph {
        margin-top: 24px;
    }

    .btn {
        margin-top: 32px;
    }
}

.case-study__img {
    border-radius: 8px;
}

